@import url('https://fonts.googleapis.com/css2?family=Galada&family=Inter&family=Krona+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html{
        scroll-behavior: smooth;
        scroll-padding-top: 3rem;
    }

    body {
        font-family: 'Inter', sans-serif;
        /* font-family: 'Krona One', sans-serif; */
    }

    h1, h2, h3{
        font-family: 'Galada', cursive;
    }

    img{
        max-width: 100%;
    }
}

@layer components{
    .fixed.bg-black div{
        @apply !py-1;
    }
/* 
    .bg-white a{
        @apply text-blue;
    } */

}